@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.navbar-brand {
  padding: 0.5em;
  font-size: 3rem;
  color: rgb(255, 0, 0);
  cursor: pointer;
  font-family: 'Righteous', cursive;
}
.nav-item a:hover{
  color: rgb(255, 0, 0);
}
.navbar{
  position: fixed;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(168,154,154,0.75);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(168,154,154,0.75);
  -moz-box-shadow: 0px 4px 8px 0px rgba(168,154,154,0.75);
}
#scroll-tienda{
  scroll-margin-top: 6rem;
}
main{
  background-image: url("https://cdn.pixabay.com/photo/2021/10/19/10/56/cat-6723256_960_720.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.welcome{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(4, 0, 0, 0.479);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);  
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  padding: 2em;
  width: 100%;
  height: 40em;
}
.welcome p{
  margin: 2em;
}
.carrito{
  color:rgb(255, 0, 0);
}
.footer-logo{
  font-family: 'Righteous', cursive;
  color:rgb(255, 0, 0);
}
.tienda-title{
  text-align: center;
  padding: 2em;
}
.card{
  margin: 2em;
}
.card:hover{
  -webkit-box-shadow: 5px 5px 15px -1px rgba(66, 65, 65, 0.171); 
  box-shadow: 5px 5px 15px -1px rgba(66, 65, 65, 0.233);
}
/* .carrito1{
} */

.submenu {
    position: relative;
}

.submenu #carrito1{
    display: none;

    /**/
        /* display: block;
    position: absolute;
    right: 0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px; */
}
.submenu:hover #carrito1{
    display: block;
    position: absolute;
    right: 0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
  
}

#vaciar-carrito:hover{
  color: #fff;
}
#finalizar-carrito:hover{
  color: #fff;
}
.ocultar{
  display: none;
}
