@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
.navbar-brand {
  padding: 0.5em;
  font-size: 3rem;
  color: rgb(255, 0, 0);
  cursor: pointer;
  font-family: 'Righteous', cursive;
}
.nav-item a:hover{
  color: rgb(255, 0, 0);
}
.navbar{
  position: fixed;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(168,154,154,0.75);
  -webkit-box-shadow: 0px 4px 8px 0px rgba(168,154,154,0.75);
  -moz-box-shadow: 0px 4px 8px 0px rgba(168,154,154,0.75);
}
#scroll-tienda{
  scroll-margin-top: 6rem;
}
main{
  background-image: url("https://cdn.pixabay.com/photo/2021/10/19/10/56/cat-6723256_960_720.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.welcome{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(4, 0, 0, 0.479);
  backdrop-filter: blur(5.9px);
  -webkit-backdrop-filter: blur(5.9px);  
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  padding: 2em;
  width: 100%;
  height: 40em;
}
.welcome p{
  margin: 2em;
}
.carrito{
  color:rgb(255, 0, 0);
}
.footer-logo{
  font-family: 'Righteous', cursive;
  color:rgb(255, 0, 0);
}
.h2{
  text-align: center;
  padding: 2em;
}
.card{
  margin: 2em;
}
.card:hover{
  -webkit-box-shadow: 5px 5px 15px -1px rgba(66, 65, 65, 0.171); 
  box-shadow: 5px 5px 15px -1px rgba(66, 65, 65, 0.233);
}
/* .carrito1{
} */

.submenu {
    position: relative;
}

.submenu #carrito1{
    display: none;

    /**/
        /* display: block;
    position: absolute;
    right: 0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px; */
}
.submenu:hover #carrito1{
    display: block;
    position: absolute;
    right: 0;

    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
  
}

#vaciar-carrito:hover{
  color: #fff;
}
#finalizar-carrito:hover{
  color: #fff;
}
.ocultar{
  display: none;
}
.btn{
  border-radius: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
}

.nav-link {
  position: relative;
}
.nav-link:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: rgb(255, 0, 0);
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
.nav-link:hover:after {
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
    /*end animacion subrayado*/
}

/*btn*/
/*
.ov-btn-slide-left {
  background: #fff; 
  color: #4741d7; 
  border-radius: 3px; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-left:hover {
  color: #fff; 
}
.ov-btn-slide-left::after {
  content: "";
  background: #4741d7; 
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
*/
